<div class="welcome">
  <p id="notice"><%= notice %></p>
  <h1>CitySights</h1>
  <hr>
  <div class="jumbotron">
    <p>New to a city and don't have time to plan a tour? </p>
    <h3>Log In and Let the Local Attractions FIND You!</h3>
  </div>

  <div id="myCarousel" class="carousel slide">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
          <img src="http://www.losviajesdenovios.com/wp-content/uploads/2014/11/amanecer-en-san-francisco-950x450.jpg" alt="San Francisco" class="img-responsive img-responsive center-block">
      </div>


      <div class="item">
          <img src="http://gezgorkesfet.com/wp-content/uploads/2015/06/london1-950x450.jpg" alt="London" class="img-responsive img-responsive center-block">
      </div>

      <div class="item">
          <img src="http://cdn-careers.sstatic.net/careers/Img/citypages/hamburg.jpg?v=74f5574f3c06" class="img-responsive img-responsive center-block">
      </div>


      <div class="item">
          <img  src="http://www.losviajesdenovios.com/wp-content/uploads/2014/11/ciudad-de-san-francisco-los-angeles-950x450.jpg" alt="San Francisco" class="img-responsive img-responsive center-block">
      </div>
    </div>
  </div>
</div>
